@charset "UTF-8";
/* 리셋 스타일 */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 공통 스타일 */
/* Base 스타일 작성 */
body {
  font-family: "Noto Sans KR", sans-serif;
}
body * {
  box-sizing: border-box;
}

/* Theme 스타일 작성 */
/* 페이지별 스타일 */
/*---------------오늘의 발견---------------*/
.common_inner {
  width: 980px;
  margin: 0 auto;
}

.header {
  border-top: 1px solid #cac6c3;
}
.header .header_bar {
  height: 33px;
  background-color: #f0f0f0;
}
.header h1 {
  margin: 30px 0;
}

.discovery_list h2 {
  margin-bottom: 25px;
  font-size: 24px;
  letter-spacing: -0.8px;
}
.discovery_list h2 span {
  position: relative;
  top: -3px;
  margin-left: 8px;
  font-size: 15px;
  color: #888888;
}
.discovery_list .banner_list {
  margin: 0 auto;
  padding: 0 14px;
  border: 1px solid #d6d6d6;
}
.discovery_list .banner_list:after {
  content: "";
  display: block;
  clear: both;
}
.discovery_list .banner_list li {
  position: relative;
  display: flex;
  margin: 10px 10px 10px 0;
  align-items: center;
  justify-content: center;
  float: left;
  width: 230px;
  height: 300px;
  border: 1px solid #d6d6d6;
}
.discovery_list .banner_list li:first-child, .discovery_list .banner_list li:nth-of-type(2) {
  width: 470px;
  height: 300px;
}
.discovery_list .banner_list li:nth-of-type(2), .discovery_list .banner_list li:last-child {
  margin-right: 0;
}
.discovery_list .banner_list li a:hover,
.discovery_list .banner_list li a:focus {
  border-color: #0096e4;
}
.discovery_list .banner_list li a:hover span,
.discovery_list .banner_list li a:focus span {
  background-color: #4285f4;
  opacity: 1;
  width: 99px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  font-family: "돋움";
  transition: width 0.3s;
}
.discovery_list .banner_list li a:hover span::before,
.discovery_list .banner_list li a:focus span::before {
  content: "구매하기 >";
}
.discovery_list .banner_list li a:hover::after,
.discovery_list .banner_list li a:focus::after {
  display: none;
}
.discovery_list .banner_list li a {
  display: block;
}
.discovery_list .banner_list li a span {
  display: block;
  position: absolute;
  bottom: 19px;
  left: 19px;
  width: 40px;
  height: 40px;
  opacity: 0.2;
  background-color: black;
}
.discovery_list .banner_list li a::after {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 32px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  cursor: pointer;
}