@charset "UTF-8";
/* 리셋 스타일 */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* 공통 스타일 */
/* Base 스타일 작성 */
body {
  font-family: "Noto Sans KR", sans-serif;
}
body * {
  box-sizing: border-box;
}

/* Theme 스타일 작성 */
/* 페이지별 스타일 */
/*---------------오늘의 발견---------------*/
.common_inner {
  width: 980px;
  margin: 0 auto;
}

.header {
  border-top: 1px solid #cac6c3;
}
.header .header_bar {
  height: 33px;
  background-color: #f0f0f0;
}
.header h1 {
  margin: 30px 0;
}

.discovery_area h2 {
  margin-bottom: 25px;
  font-size: 24px;
  letter-spacing: -0.8px;
}
.discovery_area h2 span {
  position: relative;
  top: -3px;
  margin-left: 8px;
  font-size: 15px;
  color: #888888;
}
.discovery_area .discovery_list {
  margin: 0 auto;
  padding: 10px 14px 0;
  border: 1px solid #d6d6d6;
}
.discovery_area .discovery_list:after {
  content: "";
  display: block;
  clear: both;
}
.discovery_area .discovery_list li {
  position: relative;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  float: left;
  width: 230px;
  height: 300px;
  border: 1px solid #d6d6d6;
}
.discovery_area .discovery_list li:first-child, .discovery_area .discovery_list li:nth-of-type(2) {
  width: 470px;
  height: 300px;
}
.discovery_area .discovery_list li:nth-of-type(2), .discovery_area .discovery_list li:last-child {
  margin-right: 0;
}
.discovery_area .discovery_list li:hover, .discovery_area .discovery_list li:focus {
  border-color: #0096e4;
}
.discovery_area .discovery_list li:hover span, .discovery_area .discovery_list li:focus span {
  background-color: #4285f4;
  opacity: 1;
  width: 99px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  font-family: "돋움";
  transition: width 0.3s;
}
.discovery_area .discovery_list li:hover span::before, .discovery_area .discovery_list li:focus span::before {
  content: "구매하기 >";
}
.discovery_area .discovery_list li:hover a::after, .discovery_area .discovery_list li:focus a::after {
  display: none;
}
.discovery_area .discovery_list li a {
  display: block;
}
.discovery_area .discovery_list li a span {
  display: block;
  position: absolute;
  bottom: 19px;
  left: 19px;
  width: 40px;
  height: 40px;
  opacity: 0.2;
  background-color: black;
}
.discovery_area .discovery_list li a::after {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 32px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  cursor: pointer;
}

/*---------------오늘의 쇼핑제안---------------*/
.offer_area {
  margin: 50px 0;
}
.offer_area h2 {
  padding-left: 35px;
  font-size: 24px;
  background: url("../assets/icon/shopping.svg") no-repeat left top;
  letter-spacing: -0.8px;
}
.offer_area .offer_list {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.offer_area .offer_list li {
  width: 20%;
  position: relative;
}
.offer_area .offer_list li p {
  margin-top: 10px;
  font-size: 13px;
  color: #000;
}
.offer_area .offer_list li .img {
  display: flex;
  justify-content: center;
}
.offer_area .offer_list li .title {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.offer_area .offer_list li .sale {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 40px;
  height: 25px;
  background-color: #e5232f;
  color: #fff;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
.offer_area .offer_list li .delivery,
.offer_area .offer_list li .score {
  color: #888888;
}
.offer_area .offer_list li .score {
  padding-left: 75px;
  background-image: url(../assets/sprites/rating-stars.png);
  background-repeat: no-repeat;
}
.offer_area .offer_list li p[class*=star5] {
  background-position: left -14px;
}
.offer_area .offer_list li p[class*=star10] {
  background-position: left -28px;
}
.offer_area .offer_list li p[class*=star15] {
  background-position: left -42px;
}
.offer_area .offer_list li p[class*=star20] {
  background-position: left -56px;
}
.offer_area .offer_list li p[class*=star25] {
  background-position: left -70px;
}
.offer_area .offer_list li p[class*=star30] {
  background-position: left -84px;
}
.offer_area .offer_list li p[class*=star35] {
  background-position: left -98px;
}
.offer_area .offer_list li p[class*=star40] {
  background-position: left -112px;
}
.offer_area .offer_list li p[class*=star45] {
  background-position: left -126px;
}
.offer_area .offer_list li p[class*=star50] {
  background-position: left -140px;
}