@charset "UTF-8";
/* 리셋 스타일 */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* 공통 스타일 */
/* Base 스타일 작성 */
body {
  font-family: "Noto Sans KR", sans-serif;
}
body * {
  box-sizing: border-box;
}

.container {
  margin-bottom: 500px;
}

.container h2 {
  font-size: 24px;
  letter-spacing: -0.8px;
}

.common_inner {
  width: 980px;
  margin: 0 auto;
}
.common_inner.wide {
  width: 1020px;
}

/* Theme 스타일 작성 */
@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.eot?8hd0q3");
  src: url("../assets/fonts/icomoon.eot?8hd0q3#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon.ttf?8hd0q3") format("truetype"), url("../assets/fonts/icomoon.woff?8hd0q3") format("woff"), url("../assets/fonts/icomoon.svg?8hd0q3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appliances:before {
  content: "\e900";
}

.icon-baby:before {
  content: "\e901";
}

.icon-beauty:before {
  content: "\e902";
}

.icon-book:before {
  content: "\e903";
}

.icon-car:before {
  content: "\e904";
}

.icon-clothes:before {
  content: "\e905";
}

.icon-foods:before {
  content: "\e906";
}

.icon-houseware:before {
  content: "\e907";
}

.icon-interior:before {
  content: "\e908";
}

.icon-kitchenware:before {
  content: "\e909";
}

.icon-pet:before {
  content: "\e90a";
}

.icon-sports:before {
  content: "\e90b";
}

.icon-stationery:before {
  content: "\e90c";
}

.icon-theme:before {
  content: "\e90d";
}

.icon-toy:before {
  content: "\e90e";
}

.icon-travel:before {
  content: "\e90f";
}

/* 페이지별 스타일 */
/*---------------오늘의 발견---------------*/
header {
  border-top: 1px solid #cac6c3;
}
header .header_bar {
  height: 33px;
  background-color: #f0f0f0;
}
header .header_bar .header_menu {
  display: flex;
  justify-content: space-between;
}
header .header_bar .header_menu ul {
  display: flex;
  padding-left: 15px;
  line-height: 33px;
  font-size: 12px;
}
header .header_bar .header_menu ul li {
  margin-right: 10px;
}
header .header_bar .header_menu ul li a {
  color: #555555;
}
header .header_bar .header_menu h1 {
  margin: 30px 0;
}
header .header_area {
  display: grid;
  height: 115px;
  grid-template-columns: 110px 1fr 120px;
  grid-row: 40px 1fr;
  grid-template-areas: "category logo_search my" "category menu menu";
}
header .header_area .header_category {
  grid-area: category;
}
header .header_area .header_category .button--category {
  position: relative;
  width: 110px;
  height: 115px;
  border: 0 none;
  background: #3678ff url("../assets/icon/hamburger.svg") no-repeat 50% 40%;
  text-align: center;
}
header .header_area .header_category .button--category span {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25px;
  font-size: 13px;
  color: #fff;
}
header .header_area .navigation {
  position: relative;
  display: none;
  z-index: 999;
}
header .header_area .navigation.is--active {
  display: block;
}
header .header_area .navigation ul {
  position: relative;
  padding: 10px 20px;
  width: 165px;
  height: 535px;
  background-color: #fff;
  border: 1px solid #dddddd;
}
header .header_area .navigation ul i {
  position: relative;
  padding-right: 5px;
  top: 5px;
  font-size: 20px;
}
header .header_area .navigation ul.depth1 {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
header .header_area .navigation ul ul {
  position: absolute;
  top: -1px;
  left: 163px;
  display: none;
}
header .header_area .navigation ul ul.depth2 {
  width: 590px;
  z-index: -11;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
header .header_area .navigation ul ul.depth2 .right_link {
  position: absolute;
  left: 88px;
  top: 120px;
}
header .header_area .navigation ul ul.depth2 .right_link a {
  display: block;
}
header .header_area .navigation ul ul.depth3 {
  z-index: 9999;
  width: 200px;
  border-right: 0 none;
  background-color: transparent !important;
}
header .header_area .navigation ul ul.depth3 a {
  background-image: none !important;
}
header .header_area .navigation ul ul.is--active {
  display: block;
}
header .header_area .navigation ul a {
  display: block;
  width: 123px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #555555;
}
header .header_area .navigation ul a:hover, header .header_area .navigation ul a.is--active {
  font-weight: 500;
  text-decoration: underline;
  color: #3678ff;
  background-image: url(../assets/icon/more-right-active.svg);
  background-repeat: no-repeat;
  background-position: center right;
}
header .header_area .navigation ul a.depth1_list:hover, header .header_area .navigation ul a.depth1_list.is--active {
  text-decoration: none !important;
}
header .logo_area {
  padding: 30px 30px 0;
  grid-area: logo_search;
  display: flex;
  justify-content: space-between;
}
header .logo_area .h1_logo {
  width: 175px;
  height: 40px;
  background: url("../assets/logo/logo.svg") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
header .logo_area .search_box {
  display: flex;
  justify-content: space-between;
  width: 490px;
  height: 40px;
  border: 2px solid #3678ff;
}
header .logo_area .search_box select {
  width: 134px;
}
header .logo_area .search_box input {
  width: 50%;
  border: 0 none;
}
header .logo_area .search_box .btn {
  padding-right: 15px;
}
header .logo_area .search_box .btn button {
  width: 25px;
  height: 100%;
  text-indent: -9999px;
  border: 0 none;
}
header .logo_area .search_box .btn button.voice {
  background: url("../assets/icon/mic.svg") no-repeat center;
}
header .logo_area .search_box .btn button.search {
  background: url("../assets/icon/search.svg") no-repeat center;
}
header .myCoupang_area {
  grid-area: my;
  position: relative;
  top: -7px;
}
header .myCoupang_area .myCoupang_list {
  display: flex;
  padding-top: 20px;
}
header .myCoupang_area .myCoupang_list > li {
  position: relative;
}
header .myCoupang_area .myCoupang_list > li.myCoupang {
  background: url("../assets/icon/my-coupang.svg") no-repeat center;
}
header .myCoupang_area .myCoupang_list > li.myCoupang ul {
  padding: 20px 0;
  right: -15px;
  width: 90px;
}
header .myCoupang_area .myCoupang_list > li.cart {
  background: url("../assets/icon/cart.svg") no-repeat center;
}
header .myCoupang_area .myCoupang_list > li.cart p {
  width: 300px;
  height: 110px;
  line-height: 110px;
}
header .myCoupang_area .myCoupang_list > li.cart .num {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #3678ff;
  font-size: 11px;
  text-align: center;
  line-height: 25px;
  color: #fff;
}
header .myCoupang_area .myCoupang_list > li > a {
  display: block;
  width: 60px;
  height: 50px;
  font-size: 13px;
  text-align: center;
  color: #000;
}
header .myCoupang_area .myCoupang_list > li > a span {
  position: relative;
  top: 50px;
  width: 100%;
}
header .myCoupang_area .myCoupang_list > li:hover ul,
header .myCoupang_area .myCoupang_list > li:hover p {
  display: block !important;
}
header .myCoupang_area .myCoupang_list ul,
header .myCoupang_area .myCoupang_list p {
  display: none !important;
  position: absolute;
  top: 67px;
  right: 0;
  display: block;
  background: #fff;
  border: 1px solid #dddddd;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}
header .myCoupang_area .myCoupang_list ul li,
header .myCoupang_area .myCoupang_list p li {
  font-size: 13px;
  margin-bottom: 15px;
}
header .myCoupang_area .myCoupang_list ul li:last-child,
header .myCoupang_area .myCoupang_list p li:last-child {
  margin-bottom: 0;
}
header .myCoupang_area .myCoupang_list ul li a,
header .myCoupang_area .myCoupang_list p li a {
  color: #000;
}
header .myCoupang_area .myCoupang_list ul li a:hover,
header .myCoupang_area .myCoupang_list p li a:hover {
  color: #3678ff;
  text-decoration: underline;
}
header .gnb_menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
header .gnb_menu ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .gnb_menu ul li {
  font-size: 13px;
}
header .gnb_menu ul li a {
  color: #000;
  font-weight: lighter;
  line-height: 30px;
}
header .gnb_menu ul li a:hover {
  color: #3678ff;
  text-decoration: underline;
}

.main_slider {
  margin-bottom: 40px;
  height: 450px;
  background: #fdfdfd url(../assets/main_slider.jpg) no-repeat top center;
  background-size: cover;
  border-top: 1px solid #dddddd;
}

/*---------------오늘의 발견---------------*/
.discovery_area h2 {
  margin-bottom: 25px;
}
.discovery_area h2 span {
  position: relative;
  top: -3px;
  margin-left: 8px;
  font-size: 15px;
  color: #888888;
}
.discovery_area .discovery_list {
  margin: 0 auto;
  padding: 10px 14px 0;
  border: 1px solid #d6d6d6;
}
.discovery_area .discovery_list:after {
  content: "";
  display: block;
  clear: both;
}
.discovery_area .discovery_list li {
  position: relative;
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  float: left;
  width: 230px;
  height: 300px;
  border: 1px solid #d6d6d6;
}
.discovery_area .discovery_list li:first-child, .discovery_area .discovery_list li:nth-of-type(2) {
  width: 470px;
  height: 300px;
}
.discovery_area .discovery_list li:nth-of-type(2), .discovery_area .discovery_list li:last-child {
  margin-right: 0;
}
.discovery_area .discovery_list li:hover, .discovery_area .discovery_list li:focus {
  border-color: #3678ff;
}
.discovery_area .discovery_list li:hover span, .discovery_area .discovery_list li:focus span {
  background-color: #3678ff;
  opacity: 1;
  width: 99px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  font-family: "돋움";
  transition: width 0.3s;
}
.discovery_area .discovery_list li:hover span::before, .discovery_area .discovery_list li:focus span::before {
  content: "구매하기 >";
}
.discovery_area .discovery_list li:hover a::after, .discovery_area .discovery_list li:focus a::after {
  display: none;
}
.discovery_area .discovery_list li a {
  display: block;
}
.discovery_area .discovery_list li a span {
  display: block;
  position: absolute;
  bottom: 19px;
  left: 19px;
  width: 40px;
  height: 40px;
  opacity: 0.2;
  background-color: black;
}
.discovery_area .discovery_list li a::after {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 32px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  cursor: pointer;
}

/*---------------오늘의 쇼핑제안---------------*/
.offer_area {
  margin: 50px 0;
}
.offer_area h2 {
  padding-left: 35px;
  background: url("../assets/icon/shopping.svg") no-repeat left top;
}
.offer_area .offer_list {
  padding: 30px 30px 0;
  display: flex;
  justify-content: space-between;
}
.offer_area .offer_list li {
  width: 20%;
  position: relative;
}
.offer_area .offer_list li p {
  margin-top: 10px;
  font-size: 13px;
  color: #000;
}
.offer_area .offer_list li .img {
  display: flex;
  justify-content: center;
}
.offer_area .offer_list li .title {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.offer_area .offer_list li .sale {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 40px;
  height: 25px;
  background-color: #e5232f;
  color: #fff;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
.offer_area .offer_list li .delivery,
.offer_area .offer_list li .score {
  color: #888888;
}
.offer_area .offer_list li .score {
  padding-left: 75px;
  background-image: url(../assets/sprites/rating-stars.png);
  background-repeat: no-repeat;
}
.offer_area .offer_list li p[class*=star5] {
  background-position: left -14px;
}
.offer_area .offer_list li p[class*=star10] {
  background-position: left -28px;
}
.offer_area .offer_list li p[class*=star15] {
  background-position: left -42px;
}
.offer_area .offer_list li p[class*=star20] {
  background-position: left -56px;
}
.offer_area .offer_list li p[class*=star25] {
  background-position: left -70px;
}
.offer_area .offer_list li p[class*=star30] {
  background-position: left -84px;
}
.offer_area .offer_list li p[class*=star35] {
  background-position: left -98px;
}
.offer_area .offer_list li p[class*=star40] {
  background-position: left -112px;
}
.offer_area .offer_list li p[class*=star45] {
  background-position: left -126px;
}
.offer_area .offer_list li p[class*=star50] {
  background-position: left -140px;
}

.category_area h2 {
  position: relative;
  padding: 20px 0 15px;
  font-size: 28px;
}
.category_area h2 em {
  color: #3678ff;
}
.category_area h2 span {
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 20px;
}
.category_area .category_article {
  margin-bottom: 20px;
}
.category_area .category_article dl {
  display: flex;
  position: relative;
  width: 100%;
  height: 603px;
  border-bottom: 1px solid #dddddd;
}
.category_area .category_article dl dt {
  padding: 40px 0 0 15px;
  width: 146px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.8px;
}
.category_area .category_article dl dt a {
  display: inline-block;
  padding-right: 12px;
  font-size: 12px;
  background: url(../assets/icon/angle-right-default.svg) no-repeat right 1px;
  color: #888888;
}
.category_area .category_article dl .hot_keyword {
  position: absolute;
  bottom: 22px;
  left: 10px;
}
.category_area .category_article dl .hot_keyword p {
  font-size: 14px;
  font-weight: 500;
}
.category_area .category_article dl .hot_keyword ul {
  margin-top: 10px;
}
.category_area .category_article dl .hot_keyword ul li {
  margin-top: 5px;
}
.category_area .category_article dl .hot_keyword ul li a {
  display: inline-block;
  padding: 8px 10px;
  font-size: 13px;
  font-weight: lighter;
  border: 1px solid #cccccc;
}
.category_area .category_article dl .promotion {
  position: relative;
  width: 326px;
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.category_area .category_article dl .promotion:hover .btn_indicator {
  display: block;
}
.category_area .category_article dl .promotion .promotion_list li {
  position: relative;
  height: 603px;
}
.category_area .category_article dl .promotion .promotion_list li img {
  width: 100%;
}
.category_area .category_article dl .promotion .promotion_list li .caption {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 280px;
  height: 80px;
  transform: translateX(-50%);
  color: #fff;
}
.category_area .category_article dl .promotion .promotion_list li .caption span {
  display: block;
  font-size: 12px;
}
.category_area .category_article dl .promotion .promotion_list li .caption span.tit {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
}
.category_area .category_article dl .indicator {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: flex;
  transform: translateX(-50%);
}
.category_area .category_article dl .indicator li {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  text-indent: -9999px;
}
.category_area .category_article dl .indicator li.on {
  background-color: rgba(0, 0, 0, 0.7);
}
.category_area .category_article dl .indicator li a {
  display: block;
}
.category_area .category_article dl .btn_indicator {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: none;
  z-index: 100;
}
.category_area .category_article dl .btn_indicator ul {
  display: flex;
  justify-content: space-between;
}
.category_area .category_article dl .btn_indicator ul li {
  position: relative;
  text-indent: -9999px;
}
.category_area .category_article dl .btn_indicator ul a {
  display: block;
  width: 30px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}
.category_area .category_article dl .btn_indicator ul a::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  opacity: 0.9;
}
.category_area .category_article dl .btn_indicator ul a.left:after {
  left: 12px;
  transform: rotate(225deg);
}
.category_area .category_article dl .btn_indicator ul a p {
  font-size: 24px;
}
.category_area .category_article .best_product {
  position: relative;
  width: 548px;
}
.category_area .category_article .best_product:hover .btn_indicator {
  display: block;
}
.category_area .category_article .best_product::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 548px;
  height: 1px;
  background-color: #d6d6d6;
}
.category_area .category_article .best_product .best_product_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.category_area .category_article .best_product .best_product_list li {
  padding-top: 15px;
  width: 160px;
  height: 301px;
}
.category_area .category_article .best_product .best_product_list li p {
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  font-weight: lighter;
}
.category_area .category_article .best_product .best_product_list li p.wow_price {
  color: #e5232f;
}
.category_area .category_article .best_product .best_product_list li p.price {
  font-size: 14px;
  font-weight: 600;
}
.category_area .category_article .best_product .best_product_list li p.price span {
  position: relative;
  top: 2px;
  padding-left: 10px;
}
.category_area .category_article .best_product .best_product_list li:hover .tit {
  text-decoration: underline;
  color: #3678ff;
}

.category_area .fashion {
  border-top: 2px solid #f6699e;
}
.category_area .fashion dt,
.category_area .fashion .hot_keyword a {
  color: #f6699e;
}
.category_area .fashion .hot_keyword a:hover {
  background-color: #f6699e;
  color: #fff;
}
.category_area .fashion .caption {
  background-color: rgba(246, 105, 158, 0.8);
}

.category_area .daliyItem {
  border-top: 2px solid #9d7a6d;
}
.category_area .daliyItem dt,
.category_area .daliyItem .hot_keyword a {
  color: #9d7a6d;
}
.category_area .daliyItem .hot_keyword a:hover {
  background-color: #9d7a6d;
  color: #fff;
}
.category_area .daliyItem .caption {
  background-color: rgba(157, 122, 109, 0.8);
}

.category_area .digital {
  border-top: 2px solid #5868be;
}
.category_area .digital dt,
.category_area .digital .hot_keyword a {
  color: #5868be;
}
.category_area .digital .hot_keyword a:hover {
  background-color: #5868be;
  color: #fff;
}
.category_area .digital .caption {
  background-color: rgba(88, 104, 190, 0.8);
}