/*---------------푸터---------------*/
.footer {
  margin-top: 60px;

  //푸터 네비게이션
  .footer_nav{
    border-top:2px solid $color-gray-300;
    border-bottom:1px solid $color-gray-300;
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      height:52px;     
      li{
        font-size:13px;
        font-weight: lighter;
        
        select {
          margin-left:20px;
          width:180px;
          height:40px;
          border:1px solid $color-gray-300;
          border-radius: 3px;
        }
        span{
          padding:0 10px;
        }
        a{
          color:$color-gray-800;
        }
      }
    }
  }
  //푸터 인포
  .footer_info {
    display: flex;
    justify-content: space-between;
    padding:30px 15px;
    font-size:12px;
    line-height: 24px;
    font-weight: 300;
    color:#555555;
    a{
      color:#555555;text-decoration: underline;
    }
    strong{font-weight: 500;}
    h1{
      margin-right:25px;
      width:110px;
      background-image:url(../assets/logo/logo-mono.svg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
    address {
      width:260px;
      font-size:13px;
    }
    .contact_info{
      width:300px;
      a {text-decoration: none;}
      span{font-size:26px;font-weight: bold;}
    }
    .safe_service {
      flex:1;
    }
   
  } 
  //인증마크
  .certification_list {
      padding:27px;
      border-top:1px solid red;
      ul{
        display: flex;
        li{
          flex:1;
          height:40px;
          background-image:url(../assets/footer_asset_v10.png);
          &.cert1 {
            background-position: -48px -117px;
          }
          &.cert2 {
            background-position: -270px -117px;            
          }
          &.cert3 {
            background-position: -470px -117px;
          }
          &.cert4 {
            background-position: -700px -117px;
          }
        }
      }
  }

  //카피라이터 영역
  .copyright {    
    padding:15px 0;
    background-color: $color-gray-900;
    >div{
      display: flex;
      justify-content: space-between;
      p{        
        padding-right:45px;
        font-size:12px;
        line-height:18px;
        font-weight:lighter;
        color:$color-gray-600;
      }
      ul{
        display: flex;   
        align-items: center;
        li{
          margin-left:5px;
          &:last-child{
            width:40px;
            height:40px;
            background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
            border-radius: 35px;;
            text-align: center; 
            img{
              position: relative;
              top:2px;
            }
          }          
        }
      }
    }    
  }
}