/* Base 스타일 작성 */
body {
    * {
        box-sizing: border-box;
    }

    font-family: 'Noto Sans KR',
    sans-serif;
}

.container {
    
}

.container h2 {
    font-size: 24px;
    letter-spacing: -0.8px;
}

.common_inner {
    width: 980px;
    margin: 0 auto;

    &.wide {
        width: 1020px;
    }
}

//스크린 리더만 읽을 수 있게
.sr-only{
    position: absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    border:0;
    clip:rect(0,0,0,0);
}