@mixin clearfix {
    &:before,  
    &:after {  
      content: " ";  
      display: table;  
    }  
    &:after {  
      clear: both;  
    }  
  }

@mixin ellipse {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin multi-ellipse($font-size, $line-height, $lines) {
    font-size: $font-size;
    line-height: $line-height;
    max-height: $line-height * $lines;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: &lines;
    -webkit-box-orient: vertical;
    /* autoprefixer:off */
}

@mixin sr-only{
    position: absolute;
    overflow:hidden;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    border:0;
    clip:rect(0,0,0,0);
}