/* Theme 스타일 작성 */
//backround color
$bg-color1: #3678ff;
$bg-color2: #f0f0f0;
$bg-color3: #e5232f;
$bg-color4: #f6699e;

// border color
$bd-color1: #d6d6d6;
$bd-color2: #3678ff;
$bd-color3: #cac6c3;
$bd-color4: #f6699e;
$bd-color5: #dddddd;
$bd-color6: #cccccc;
$bd-color7: #9d7a6d;
$bd-color8: #5868be;
$bd-color9: #444444;

// text
$txt-color1: #888888;
$txt-color2: #fc4c42;
$txt-color3: #3678ff;
$txt-color4: #f6699e;
$txt-color5: #e5232f;
$txt-color6: #555555;

